[Desktop Entry]
Type=Application
Name=Image Transient
Comment=Create transition videos from two images
Exec=imagetransient
Icon=io.github.remisa.imagetransient
Categories=AudioVideo;Video;Graphics;Qt;
Keywords=image;transition;transient;video;ffmpeg;mp4;xfade;
Terminal=false
StartupNotify=true
